In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1. The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [2]:
sales= pd.read_csv(r"C:\Users\susha\Downloads\Sales_add.csv")

In [3]:
sales.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [5]:
sales.shape

(22, 5)

# FRAMING OF HYPOTHESIS

NULL HYPOTHESIS  : THERE IS NO DIFFERENCE IN SALES AFTER STEPPING INTO DIGITAL MARKETING.

ALTERNATE HYPOTHESIS:  THERE IS SIGNIFICANT DIFFERENCE IN SALES AFTER STEPPING INTO DIGITAL MARKETING.

In [6]:
from scipy import stats

In [7]:
t_stat1,p_val1 = stats.ttest_rel(sales['Sales_before_digital_add(in $)'],sales['Sales_After_digital_add(in $)'])

In [8]:
p_val1

6.336667004575778e-11

In [9]:
if p_val1<0.05:
    print("Null Hypothesis Rejected")
else:
    print("Null Hypothesis Accepted")

Null Hypothesis Rejected

CONCLUSION : SO WE CAN CONCLUDE THAT THERE IS INCREASE IN SALES AFTER ENTERING INTO DIGITAL MARKETING

# 2. The company needs to check whether there is any dependency between the features “Region” and “Manager”.

IN ORDER TO FIND THE DEPENDENCY BETWEEN THE GIVEN FEATURES, WE ARE PERFOMING A CHI - SQUARE TEST OF INDEPENDENCE

In [13]:
from scipy import stats
from scipy.stats import chi2_contingency

#  FRAMING OF HYPOTHESIS

NULL HYPOTHESIS  : There is no dependency between the features “Region” and “Manager”.

ALTERNATE HYPOTHESIS: There is dependency between the features “Region” and “Manager”

In [14]:
crosstab = pd.crosstab(sales['Region'], sales['Manager'])
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [15]:
chi_stat,p_value,dof,exp_values=chi2_contingency(crosstab)

In [16]:
chi_stat,p_value,dof,exp_values

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [17]:
p_value

0.5493991051158094

In [19]:
if p_value<0.05:
    print("NULL HYPOTHESIS REJECTED")
else:
    print("NULL HYPOTHESIS ACCEPTED")

NULL HYPOTHESIS ACCEPTED

CONCLUSION: WE CAN CONCLUDE THAT THERE IS NO DEPENDENCY BETWEEN THE FEATURES "REGION" AND "MANAGER".